.center-title {
    text-align: center;
}
.assignments-container {
margin:auto;
}
.assignment {
    font-size: 40px;
}

img {
    width: 200px;
}
.content-container {
   display: flex;
   flex-direction: row;
}
.rocket-container {
margin-top: 400px;
}
.homework {
    margin-top: 400px;
}
.planet {
    margin-left: 750px;
}
.app-container {
    background-image: url('images/spaceback.jpeg'); /* Add the path to your image */
    background-size: cover; /* This will make sure the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image from repeating */
    padding: 20px; /* Add padding to ensure content is visible */
}