.center-title {
    text-align: center;
}
.assignments-container {
margin:auto;
}
.assignment {
    font-size: 40px;
}

img {
    width: 200px;
}
.content-container {
   display: flex;
   flex-direction: row;
}
.rocket-container {
margin-top: 400px;
}
.homework {
    margin-top: 400px;
}
.planet {
    margin-left: 750px;
}